[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third-party/cxxopts"]
	path = third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts
